database_backup.sql
/mysql_data/
/node_modules
/public/hot
/public/storage
/storage/*.key
!/vendor
/vendor/*
!/vendor/laravel
/vendor/laravel/*
!/vendor/laravel/ui
/vendor/laravel/ui/*
!/vendor/laravel/ui/auth-backend
.env.bak
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

